<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="vue.js"></script>
    <div id="app">
        <button @click="remove">削除</button>
        <div v-for="l in list" :key="l">
            <p>{{l}}</p>
            <input type="text">
        </div>

        <hr>
        <div v-for="l in list">
            <p>{{l}}</p>
            <input type="text">
        </div>

    </div>

    <script>
        new Vue ({
            el: "#app",
            data: {
                ok: true,
                list: ['Java','PHP','Ruby','Python']
            },
            methods: {
                remove: function() {
                    this.list.shift();
                }
            },
        })
    </script>
</body>
</html>